<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleafe.org">
<head>
    <meta charset="UTF-8">
    <title>Administrar Vacaciones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div th:replace="comun/menu.html"></div>

<div class="container">

    <h1>Administración de Vacaciones</h1>
    <hr>
    <h2>Actualizar Vacación</h2>

    <form action="#" th:action="@{/vacaciones/guardarVacacion}" th:object="${vacacion}" method="post">

        <input type="hidden" th:field="*{id}">
        <label>Periodo:</label>
        <input type="text" th:field="*{periodo}" class="form-control mb-4 col-4" id="periodo" placeholder="Periodo" name="periodo"/>
        <label>Fecha Inicio:</label>
        <input type="date" th:field="*{fechaInicio}" class="form-control mb-4 col-4" id="fecha_inicio" placeholder="Fecha Inicio" name="fecha_inicio"/>
        <label>Fecha Inicio:</label>
        <input type="date" th:field="*{fechaFin}" class="form-control mb-4 col-4" id="fecha_fin" placeholder="Fecha Fin" name="fecha_fin"/>
        <label>Estado:</label>
        <select th:field="*{estado}" class="form-control mb-4 col-4">
            <option th:value="'0'" th:text="Programado"></option>
            <option th:value="'1'" th:text="Tomado"></option>
            <option th:value="'2'" th:text="Cancelado"></option>
        </select>
        <label>Empleado:</label>
        <select th:field="*{empleado.id}" class="form-control mb-4 col-4" id="empleado" name="empleado">
            <option th:each="empleado : ${empleados}" th:value="${empleado.id}" th:text="${empleado.nombre + ' ' + empleado.apellidoPaterno + ' ' + empleado.apellidoMaterno}"></option>
        </select>
        <button type="submit" class="btn btn-info col-2">Guardar</button>
        <button type="button" class="btn btn-secondary col-2" onclick="window.location.href='/vacaciones/listarVacaciones'">Cancelar</button>
    </form>

</div>



</body>
</html>